@font-face {
    font-family: 'Meon';
    src: local('Meon'),
        url('@assets/fonts/meon.woff2') format('truetype');
}

@font-face {
    font-family: 'Roobert';
    src: local('Roobert'),
        url('@assets/fonts/Roobert-Regular.ttf') format('truetype');
}

:root {
    --btn-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    --bs-body-font-family: 'CascadiaCode', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    --bs-heading-font-family: 'Roobert', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    --bs-heading-color: #D9D9D9;

    --app-bg: #581835;
    --side-nav-bg: #3a0d3a;
    --header-height: 3rem;
    --z-fixed: 100;
    --nav-width: 4rem;
}

*,
::before,
::after {
    box-sizing: border-box;
}

/* [class~="p-button"] {
    background-color: #42145D;
    color: #FFF;
    font-weight: 600;
    border: none;
} */

html {
    font-size: 15px;
}

body {
    font-family: var(--bs-body-font-family);
    background: #0e0915;
}

.btn-ktools {
    text-shadow: 0 0 5px #fff;
    font-family: var(--btn-font-family);
    font-weight: 600;
    border-radius: 0.05rem;
    box-shadow: 0px 0px 5px 1px rgb(207, 44, 104);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--bs-heading-font-family);
    font-weight: 600;
}

div#body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    transition: .5s;
}

@media screen and (min-width: 768px) {
    .body-pd {
        padding-left: calc(var(--nav-width) + 8rem) !important;
    }

    div#body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

}
