.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    background-color: var(--side-nav-bg);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer
}

.l-navbar {
    position: fixed;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--side-nav-bg);
    padding: .5rem .5rem 0 0;
    z-index: var(--z-fixed);
    transition: .5s;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.show {
    left: 0;
    width: calc(var(--nav-width) + 8rem)
}

@media screen and (min-width: 768px) {
    .header {
        height: calc(var(--header-height) + 1rem)
    }

    .l-navbar {
        left: 0;
        padding: 1rem .25rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 8rem)
    }

    .header-pd {
        padding-left: calc(var(--nav-width) + 8.5rem) !important
    }
}
